*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.calculator{
    width: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(-50% -50%);
    transition: 0.25px;
    background:  linear-gradient(#030303f4,#7e7272,#000,#000);
    text-align: center;
}
#result{
        border: none;
        background: #fff;
        border-radius: 20px;
        width: 200px;
        text-align: right;
        outline: none;
        font-size: 20px;
        font-family: sans-serif;
        font-weight: 100;
        height:40px;
        margin: auto;
        border: 2px solid #fff;
}
.tt{
    width: 30px;
    height: 30px;
    padding-top: -1;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 15px;
    border-radius: 20px;
    margin: 4px;
    margin-top: 15px;
    align-items: center;
    cursor: pointer;
 }
 /* Styles for medium screens */
 @media screen and (max-width: 468px) {
    .calculator{
        width: 80%;
        height: 55%;
        position: absolute;
        left: 8%;
    }
  }
  